*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

header{
    width:100%;
    background:#0b051d;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 5%;
    position:relative;
    
}

.logo{
    width:20%;
}

.logo img{
    width:100px;
    display:block;
}

/* Navigation */

.navigation{
    width:60%;
}

.navigation ul{
    display:flex;
    justify-content:center;
    list-style:none;
    gap:30px;
}

.navigation ul li a{
    color:#fff;
    text-decoration:none;
    font-size:16px;
    transition:0.3s;
}

.navigation ul li a:hover{
    color:#8b5cf6;
}
.navigation ul li a{
    color:#e9e4e4;
    text-decoration:none;
    position:relative;  
    padding-bottom:5px;
}

.navigation ul li a::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:0;
    width:0;
    height:2px;
    background:#8b5cf6;
    transition:all 0.3s ease;
    transform:translateX(-50%);
}

.navigation ul li a:hover::after{
    width:100%;
}

/* Call Button */

.call-btn{
    display:inline-block;
    background:transparent;
    border:#8b5cf6 1px solid;
    color:#afaaaa;
    text-decoration:none;
    padding:10px 20px;
    border-radius:5px;
    font-weight:600;
    transition:0.3s;
}

.call-btn:hover{
    background:#6d28d9;
    color:#fff;
}

/* Toggle Button */

.toggle-btn{
    display:none;
    color:#fff;
    font-size:30px;
    cursor:pointer;
}

/* Mobile Responsive */

@media(max-width:768px){

    .navigation{
        display:none;
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#0b051d;
    }

    .navigation.active{
        display:block;
    }

    .navigation ul{
        flex-direction:column;
        gap:0;
    }

    .navigation ul li{
        text-align:center;
        padding:15px;
        border-bottom:1px solid #444;
    }

    .header-btn{
        display:none;
    }

    .toggle-btn{
        display:block;
    }

    .logo{
        width:auto;
    }

    .logo img{
        width:65px;
    }
}

/*=========================================
          Banner Section
=================================================================*/

.banner{
    width:100%;
    height:auto;
    background:url("img/b1.jpeg") no-repeat center center/cover;
    display:flex;
    justify-content:left;
    align-items:center;
    padding: 50px 5% 10px;
}
.banner-content{
    text-align:center;
    color:#fff;
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:20px;
}
.banner-content h1{
    font-size:75px;
    margin-bottom:20px;
    text-align:justify;
    line-height:1;
}
.banner-content p{
    font-size:18px;
    margin-bottom:30px;
    text-align:justify;
    line-height:1.6;
    color:rgb(134, 128, 128);
}
.banner-content .btn{
    display:inline-block;
    background:#8b5cf6;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    border-radius:5px;
    font-weight:600;
    transition:0.3s;
}


.banner button{
    display:inline-block;
   background:transparent;
   border:1px solid #8b5cf6;
    color:#afaaaa;
    text-decoration:none;
    padding:10px 20px;
    border-radius:5px;
    font-weight:600;
    transition:0.3s;
    
}
.banner button:hover{
    background:#8b5cf6;
    color:#fff;
}

.icon{
    display:flex;
    align-items:center;
    gap:10px;
    color:#fff;
    padding-top:30px;
}
.icon i{
    font-size:36px;
    
}
.icon span{
    font-size:14px;
    white-space:nowrap;
    border-right:1.5px solid #aa88fa;
    padding:10px;
    
}
.icon span:last-child{
    border-right:none;
}

@media screen and (max-width: 768px) {
  
  .banner{
    height:auto;
  }
  
  .banner-content{
    width:100%;
     align-items:center;
     text-align:center;
  }
  .banner-content h1 {
    font-size: 42px;
    margin-bottom: 6px;
    text-align: justify;
    line-height: 1;
}
  .banner-content p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.6;
    color: rgb(134, 128, 128);
  
}
.icon{
    display: none;
}
}

/*===============================================
            Services Section    
==================================================*/

.services {
    padding: 60px 10%;
    background: #f9f9f9;
    text-align: center;
    background-color:#0b051d;
}

.services h2 {
    font-size: 36px;
    color: #0b051d;
    margin-bottom: 40px;
    font-weight: 700;
}

.service-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.service-item {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service-item:hover {
    transform: translateY(-10px);
    background: #8b5cf6;
}

.service-item h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #0b051d;
}

.service-item p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .service-item {
        width: 100%;
    }
}

/*===============================================
           project Section
==================================================*/

.offer{
    background-image:url("img/bg.jpeg");
    background-size:cover;
    background-position:center;
    padding:20px 5%;
    text-align:center;
    position:relative;
}

.offer::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(11,5,29,0.85);
}

.offer-content{
    position:relative;
    z-index:1;
}

.offer-content h2{
    font-size:42px;
    color:#e7e2e2;
    margin-bottom:15px;
}

.offer-content p{
    max-width:700px;
    margin:0 auto 40px;
    color:#cfcfcf;
    line-height:1.8;
    font-size:17px;
}

.offer-list{
    list-style:none;
    padding:0;
    margin:0;
}

.offer-list li{
    color:#fff;
    font-size:20px;
    margin:15px 0;
    transition:0.3s;
}

.offer-list li:hover{
    color:#8b5cf6;
    transform:translateX(5px);
}
.offer-list{
    list-style:none;
    padding:0;
    margin-top:30px;

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
}

.offer-list li{
    color:#fff;
    font-size:16px;
    border:1px solid #8b5cf6;
    padding:8px 16px;
    border-radius:30px;
}

/* Mobile */

@media(max-width:768px){

    .offer{
        padding:60px 20px;
    }

    .offer-content h2{
        font-size:32px;
    }

    .offer-content p{
        font-size:15px;
    }

    .offer-list li{
        font-size:14px;
        margin:5px;
        
    }
    .offer-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
}

/*===============================================
            Our Process Section
==================================================*/

.process {
    padding: 60px 10%;
    background: #0b051d;
    text-align: center;
}

.process h2 {
    font-size: 42px;
    margin-bottom: 50px;
    color: #c7c2c2;
    font-weight: 700;
}

.process-steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    
}

.step {
    width: 22%;
    background: #f0f0f0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.step:hover {
    transform: translateY(-10px);
    background: #8b5cf6;
}

.step-number {
    font-size: 28px;
    font-weight: bold;
    color: #6b21a8;
    margin-bottom: 15px;
}

.step h3 {
    font-size: 24px;
    color: #0b051d;
    margin-bottom: 10px;
}

.step p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .process-steps {
        flex-direction: column;
        align-items: center;
    }
    .step {
        width: 80%;
        margin-bottom: 30px;
    }
}

/*===========================================
                tech section
==============================================*/

.tech{
    background-image: url("img/worldClass.jpg");
     background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    height:100vh;
}